/* simple svg image fixed
body
	background-image url('../images/Flag_of_South_Korea.svg')
	background-size cover
	background-attachment fixed
	background-repeat no-repeat*/
	
/* small image, repeated
body
	background-image url('../images/flag_of_south_korea_small.png')*/

// big jpg image fixed
/*
body
	background-image url('../images/south_korea_flag.jpg')
	background-size cover
	background-attachment fixed*/

body{
	position: relative
}
	
#bg 
	position fixed 
	top -50% 
	left -50% 
	width 200% 
	height 200%
	z-index -1

#bg img
	position absolute 
	top 0 
	left 0 
	right 0 
	bottom 0 
	margin auto 
	min-width 50%
	min-height 50%

/* Use different background image for portrait mode */
@media only screen and (orientation: portrait)
	#bg img
		display none
	body
		background-image: url('../images/bg_portrait.png');
		background-repeat: repeat;

.blogpost img
	max-width 100%
	height auto



.spin
	font-size 150%
	animation spin 1500ms infinite linear

@keyframes spin
	0% 
		transform rotate(0deg)
  
	100% 
		transform rotate(359deg)
  
