.commentBox
	max-width 300px

.commentAuthor
	font-size 130%
	
.commentTimestamp
	font-size 80%

.comment
	margin-bottom 5px
	padding 10px
	border-radius 5px
	&:nth-child(even)
		background-color #dddddd
	&:nth-child(odd)
		background-color #cccccc
		

.commentDivider
	height 1px
	border 1px solid #aaaaaa
	width 60px 
	margin-top 3px
	margin-bottom 3px
