/* simple svg image fixed
body
	background-image url('../images/Flag_of_South_Korea.svg')
	background-size cover
	background-attachment fixed
	background-repeat no-repeat*/
	
/* small image, repeated
body
	background-image url('../images/flag_of_south_korea_small.png')*/

// big jpg image fixed
body
	background-image url('../images/south_korea_flag.jpg')
	background-size cover
	background-attachment fixed